table{
	width:100%;
	border-collapse: collapse;
	box-shadow: 3px 3px 3px #ddd;
}
tr:nth-child(even){
	background:#ddd;
}
td,
th{
	padding:1%;
}
.skDiv{
	width:100%;
	border-left:3px solid #4ABCE6; 
	padding: :1%;
	margin: 1%;
}
span{
	background:#4ABCE6;
	color:#fff;
	border:3px solid #ddd;
	box-shadow: 3px 3px 3px #ddd;
	margin:1%;
	padding: 1%;
	border-radius: 5px;
}

.parent{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.child1{
	width:30%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align: center;
	background:#EC92E0;
}
.child2{
	width:70%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align:center;
}
.profile{
	width:200px;
	height:200px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
h2{
	color: black;
}
a{
	text-decoration: none;
	font-size: 20px;
	word-wrap: break-word;
}
p{
	font-size: 16px;
	word-wrap: break-word;
	color:purple;
}
/*small screens*/
@media only screen and (min-width:320px) and (max-width:480px){
	.parent{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.child1{
	width:100%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align: center;
	background:skyblue;
}
.child2{
	width:100%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align:center;
	background:orange;
}

}
/*medium screens*/
@media only screen and (min-width:481px) and (max-width:768px){
	.parent{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.child1{
	width:40%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align: center;
	background:skyblue;
}
.child2{
	width:60%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align:center;
	background:#EB984E;
}
}
/*large screens*/
@media only screen and (min-width:769px) and (max-width:1024px){
	.parent{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.child1{
	width:100%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align: center;
	background:skyblue;
}
.child2{
	width:100%;
	border:1px solid #ddd;
	padding:1%;
	margin:1%;
	text-align:center;
	background: #ddd;
}
	
}
*{
	font-size: 25px;
}